@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #3475ca;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content{
    position: relative; 
    max-width: 750px;
    text-align: center;
}
.banner .content p{
    font-size: 18px;
    color: #fff;
}

.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}
.banner header .logo{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.banner header .toggle{
    position: relative;
    width: 36px;
    height: 28px;
    background: url(./assets/toggle.png);
    background-size: cover;
    cursor: pointer;
}

.banner .content h2{
    color: #fff;
    font-size: 36px;
}

.about{
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx{
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx{
    background: url(./assets/window.jpg);
    width: 50%;
    background-position: center;
    background-size: cover;
}

.services{
    background:  #12221d;
    padding: 10px;
    text-align: center;
}

.services .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 40px;
}
.services .container .serviceBx{
    position: relative;
    background: #fff; 
    display: flex;
    width: 350px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.services .container .serviceBx img{
    max-width: 100px;
}

.services .container .serviceBx h2{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 10px;
}

.technology{
    background: #3475ca;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 300px;
  margin-top: -300px;
}

.technology .contentBx{
  max-width: 800px;
}
.technology .imgBx{
    max-width: 250px;
}
.technology .imgBx img{
    max-width: 100%;
}
.clients{
    background: #162c3b;
    padding: 100px;
    text-align: center;
}

.clients .imgBx{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;    
}

.clients .imgBx img{
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}

.clients .imgBx img:hover{
    opacity: 1;
}

.testimonials{
    position: relative;
    padding: 100px;
    background: #12221d;
    text-align: center;
}
.testimonials .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.testimonials .container .contentBx{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px 60px;
    max-width: 500px;
}

.testimonials .container .contentBx p{
    font-style: italic;
}
.testimonials .container .contentBx h3{
    font-weight: 900;
    width: 100%;
    text-align: end;
    margin-top: 10px;
    color: #3475ca;
}

.contact{
    padding: 100px;
    background: #162c3b;
    text-align: center;
}
.imgBx2{
    background: url(./assets/bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}
.redBg{
    background: url(./assets/red.jpg) !important;
    background-size: cover;
    background-position: center;
    width: 50%;
}

.form .inputBx{
    margin-bottom: 40px;
}

.form .inputBx input,.form .inputBx textarea{
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 10px 0px;
    font-weight: 18px;
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid #fff;
    resize: none;
}
.form .inputBx input::placeholder,.form .inputBx textarea::placeholder{
    color: #fff;
}

.form .inputBx textarea{
    min-height: 150px;
}

.form .inputBx input[type=submit]{
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #162c3b;
}
.footer p{
    color: #fff;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul p{
    color: #fff;
}

.footer ul li{
    list-style: none;
    }
.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
}

.footer ul li a img{
    filter: invert(1);
    max-width: 20px;
}

@media(max-width:991px){
    .banner header{
        padding: 20px 50px;
    }
    .banner .content p {
        font-size: 16px;
     }

     .about {
        flex-direction: column;
    }
    .about .contentBx, .about .imgBx{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .services{
        padding: 50px;
    }
    .services .container{
        justify-content: center;
        margin-top: 20px;
    }
    .services .heading{
        margin-top: 40px;
    }


    .services .container .serviceBx{
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .technology{
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx{
        margin-top: 40px;
        max-width: 250px;
    }

    .clients{padding: 50px;}
    .clients .imgBx{
        justify-content: center;
    }
    .testimonials{padding: 50px;}
    .testimonials .contentBx{
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
    }
    .testimonials .contentBx:last-child{
        margin-bottom: 0px;
    }
    .contact{
        padding: 50px;
    }
    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer ul {
        margin-bottom: 20px;
    }

}